<div class="container">
  <div id="loader"></div>
  <div style="display:none;" id="loadDiv" class="animate-bottom">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Discussion Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm Before Deleting</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete?.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="removeNewChoice()">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myActionModal" role="dialog">
      <div class="modal-dialog">
        <!-- Action Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm Before Deleting</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete?.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="removeNewRow()">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myConfirmationModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm Before Submiting</h4>
          </div>
          <div class="modal-body">
            <p>Click Continue if you have filled both the Discussion Points and Action Items else Cancle</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" [class.disabled]="isClickedOnceTrue" (click)="onSubmit(); onSubmitAction(); isClickedOnceTrue = true" [disabled]="!discForm.form.valid">Continue</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myConfirmationModalAction" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm Before Submiting</h4>
          </div>
          <div class="modal-body">
            <p>Click Continue if you have filled both the Discussion Points and Action Items else Cancle</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" [class.disabled]="isClickedOnce" (click)="onSubmit(); onSubmitAction(); isClickedOnce = true" [disabled]="!actionForm.form.valid">Continue</button>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li class="active" style="text-align:centre;"><a data-toggle="pill" href="#discussion">Dicussion Points</a></li>
      <li style="text-align:centre;"><a data-toggle="pill" href="#action">Action Items</a></li>
    </ul>
    <br/>
    <div class="tab-content">
      <div id="discussion" class="tab-pane fade in active">
        <div id="disc-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="discmodal-container">
            <div>
              <form #discForm="ngForm" class="form-horizontal" novalidate>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-1">
                      <label for="meetingId">Meeting Title</label>
                    </div>
                    <div class="col-md-2">
                      <div *ngFor="let title of moreDetailsList">
                        <div class="dispMeetingTitle">{{title.meetingTitle}}</div>
                      </div>
                    </div>
                    <div class=col-md-1></div>
                    <div class=col-md-8>
                      <input type="Submit" value="Submit" class="btn btn-success discmodal-submit" data-toggle="modal" data-target="#myConfirmationModal">
                      <button type="button" id="checkAll" value="Check All" class="btn btn-default btn-md addButton" (click)="checkAllDiscussion()" data-toggle="tooltip" title="Select All">
                        <span class="glyphicon glyphicon-check" aria-hidden="true" data-toggle="tooltip" title="Select All"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-md addButton" (click)="resetDiscussionForm()" data-toggle="tooltip" title="Reset Form">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" data-toggle="tooltip" title="Reset Form"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-md addButton" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" title="Delete Selected">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" data-toggle="tooltip" title="Delete Selected"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-md addButton" (click)="addNewChoice()" data-toggle="tooltip" title="Add New Row">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="tooltip" title="Add New Row"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="discussionBy">Discussion By</label>
                    </div>
                    <!-- <div class="col-md-1">
                      <label for="discussionType">Type</label>
                    </div> -->
                    <div class="col-md-3">
                      <label for="discussion">Discussion</label>
                    </div>
                    <div class="col-md-2">
                      <label for="decisionBy">Decision By</label>
                    </div>
                    <div class="col-md-3">
                      <label for="decision">Decision</label>
                    </div>
                    <div class="col-md-1">
                      <label>Delete</label>
                    </div>
                  </div>
                </div>
                <table>
                  <tr *ngFor="let model of models">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <select class="form-control" id="discussionBy" required [(ngModel)]="model.discussionBy" [ngModelOptions]="{standalone: true}" name="discussionBy" #discussionBy="ngModel">
                        <option *ngFor="let dec of userName" [value]="dec.id">{{dec.firstlast}}</option>
                      </select>
                          <div [hidden]="discussionBy.valid || discussionBy.pristine" style="color:red;">
                            Discussion By is required
                          </div>
                        <!-- </div>
                        <div class="col-md-1"> -->
                          <label>Type</label>
                          <select class="form-control" id="discussionType" required [(ngModel)]="model.discussionType" [ngModelOptions]="{standalone: true}" name="discussionType" #discussionType="ngModel">
                        <option *ngFor="let type of discussionTypes" [value]="type.id">{{type.discussionType}}</option>
                      </select>
                          <div [hidden]="discussionType.valid || discussionType.pristine" style="color:red;">
                            Discussion Type is required
                          </div>
                        </div>
                        <div class="col-md-3">
                          <textarea type="text" class="form-control" id="discussion" required [(ngModel)]="model.discussion" [ngModelOptions]="{standalone: true}" name="discussion" #discussion="ngModel" placeholder="Discussion Points" rows="4" cols="50"></textarea>
                          <div [hidden]="discussion.valid || discussion.pristine" style="color:red;">
                            Discussion is required
                          </div>
                        </div>
                        <div class="col-md-2">
                          <select class="form-control" id="decisionBy" required [(ngModel)]="model.decisionBy" [ngModelOptions]="{standalone: true}" name="decisionBy" #decisionBy="ngModel">
                        <option *ngFor="let dec of userName" [value]="dec.id">{{dec.firstlast}}</option>
                      </select>
                          <div [hidden]="decisionBy.valid || decisionBy.pristine" style="color:red;">
                            DecisionBy is required
                          </div>
                        </div>
                        <div class="col-md-3">
                          <textarea type="text" class="form-control" id="decision" required [(ngModel)]="model.decision" [ngModelOptions]="{standalone: true}" name="decision" #decision="ngModel" placeholder="Decision Taken" rows="4" cols="50"></textarea>
                          <div [hidden]="decision.valid || decision.pristine" style="color:red;">
                            Decision is required
                          </div>
                        </div>
                        <div class="col-md-1">
                          <div class="button">
                            <input type="checkbox" value="{{model.id}}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div id="action" class="tab-pane fade">
        <div id="action-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="actionmodal-container">
            <div>
              <form #actionForm="ngForm" class="form-horizontal" novalidate>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-1">
                      <label for="meetingId">Meeting Title</label>
                    </div>
                    <div class="col-md-2">
                      <div *ngFor="let title of moreDetailsList">
                        <div class="dispMeetingTitle">{{title.meetingTitle}}</div>
                      </div>
                    </div>
                    <div class=col-md-1>
                    </div>
                    <div class=col-md-8>
                        <input type="Submit" value="Submit" class="btn btn-success actionmodal-submit" data-toggle="modal" data-target="#myConfirmationModalAction">
                      <button type="button" id="check" value="Check All Rows" class="btn btn-default btn-md addButton" (click)="checkAllAction()">
                        <span class="glyphicon glyphicon-check" aria-hidden="true" data-toggle="tooltip" title="Select All"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-md addButton" (click)="resetActionForm()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true" data-toggle="tooltip" title="Reset Form"></span>
                  </button>
                      <button type="button" class="btn btn-default btn-md addButton" data-toggle="modal" data-target="#myActionModal">
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" data-toggle="tooltip" title="Delete Selected"></span>
                  </button>
                      <button type="button" class="btn btn-default btn-md addButton" (click)="addNewRow()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="tooltip" title="Add New Row"></span>
                  </button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="actionDesc">Action Description</label>
                    </div>
                    <div class="col-md-2">
                      <label for="responsible">Responsible Person</label>
                    </div>
                    <div class="col-md-2">
                      <label for="openSince">Open Since</label>
                    </div>
                    <div class="col-md-2">
                      <label for="expectedCompletion">Expected Completion</label>
                    </div>
                    <div class="col-md-2">
                      <label for="status">Status</label>
                    </div>
                    <div class="col-md-1">
                      <label>Delete</label>
                    </div>
                  </div>
                </div>
                <table>
                  <tr *ngFor="let modelAction of modelValues">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          <textarea type="text" class="form-control" id="actionDesc" required [(ngModel)]="modelAction.actionDesc" [ngModelOptions]="{standalone: true}" #actionDesc="ngModel" placeholder="Add Action Details"></textarea>
                          <div [hidden]="actionDesc.valid || actionDesc.pristine" style="color:red;">
                            Action Description is required
                          </div>
                        </div>
                        <div class="col-md-2">
                          <select class="form-control" id="responsible" required [(ngModel)]="modelAction.responsible" [ngModelOptions]="{standalone: true}" name="responsible" #responsible="ngModel">
                        <option *ngFor="let dec of userName" [value]="dec.id">{{dec.firstlast}}</option>
                      </select>
                          <div [hidden]="responsible.valid || responsible.pristine" style="color:red;">
                            Responsible Person is required
                          </div>
                        </div>
                        <div class="col-md-2">
                          <input type="date" class="form-control" id="openSince" required [(ngModel)]="modelAction.openSince" [ngModelOptions]="{standalone: true}" name="openSince" #openSince="ngModel">
                          <div [hidden]="openSince.valid || openSince.pristine" style="color:red;">
                            Open Since is required
                          </div>
                        </div>
                        <div class="col-md-2">
                          <input type="date" class="form-control" id="expectedCompletion" required [(ngModel)]="modelAction.expectedCompletion" [ngModelOptions]="{standalone: true}" name="expectedCompletion" #expectedCompletion="ngModel">
                          <div [hidden]="expectedCompletion.valid || expectedCompletion.pristine" style="color:red;">
                            Expected Completion is required
                          </div>
                        </div>
                        <div class="col-md-2">
                          <select class="form-control" id="status" required [(ngModel)]="modelAction.status" [ngModelOptions]="{standalone: true}" name="status" #status="ngModel">
                        <option *ngFor="let state of statusValue" [value]="state.id">{{state.status}}</option>
                      </select>
                          <div [hidden]="status.valid || status.pristine" style="color:red;">
                            Status is required
                          </div>
                        </div>
                        <div class="col-md-1">
                          <div class="buttonVal">
                            <input type="checkbox" value="{{modelAction.id}}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
