<div class="container">
<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
        <input type="text" placeholder="Username" formControlName="userName">
        <div class="error" style="color:red" *ngIf="user.get('userName').touched && user.get('userName').hasError('required')">
          UserName is required
        </div>
        <input type="password" placeholder="Password" formControlName="userPassword">
        <div class="error" style="color:red" *ngIf="user.get('userPassword').touched && user.get('userPassword').hasError('required')">
          Password is required
        </div>
        <input type="submit" name="login" class="login loginmodal-submit" [disabled]="user.invalid" value="Login">
      </form>
      <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
