.createButton {
  float: right;
}

footer {
  position: absolute;
  bottom: 0px;
}

.meetingList {
  padding: 10px;
  width: 100% !important;
  margin: 0 auto;
  border-radius: 2px;
  height: 450px;
}

.meetingListModal {
  width: 100% !important;
  /*background-color: #F7F7F7;*/
  height: 499px;
}

.tableForm {
  width: 100% !important;
  height: 476px;
  overflow: auto;
}

.toDelete {
  float: right;
  font-size: 20px;
  margin-right: 5px;
}

.btn-lg {
  font-size: 10px;
  margin: 0px 5px;
}

.glyphiconIcon {
  font-size: 15px;
}

#check {
  float: right;
}

input[type="checkbox"] {
  transform: scale(2);
  margin: 15px 23px;
  float: right;
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

table th {
  text-align: center;
}

table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.meeting:hover, table td a:hover {
  overflow: visible;
  white-space: normal;
  word-break: break-all;
}

.td:hover{
  overflow: visible;
  white-space: normal;
  word-break: keep-all;
}

.meeting {
  width: 10%;
}

.agenda {
  width: 22%;
}

.attendees {
  width: 22%;
}

.status {
  width: 10%;
}

.date {
  width: 10%;
}

.icons {
  width: 26%;
}

.floatPosition {
  float: right;
  margin-right: 5px;
}

.search {
  margin-top: 10px;
  margin-left: 10px;
}
