<div class="meetingListModal container">
  <div class="meetingList">
    <div class="newMeeting">
      <button class="btn btn-success createButton" routerLink="/meeting" routerLinkActive="active">Create new meeting</button>
    </div>
    <div class="panel panel-primary tableForm">
      <div class="panel-heading text-center">Meeting List</div>
      <div class="panel-body">
        <!--Table-->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-md-2">
                  <span>Meeting</span>
                </th>
                <th class="col-md-3">
                  <span>Agenda</span>
                </th>
                <th class="col-md-3">
                  <span>Attendees</span>
                </th>
                <th class="col-md-1">
                  <span>Date</span>
                </th>
                <th class="col-md-3">
                  <span>
                    <button type="button" class="btn btn-danger btn-lg toDelete" (click)="toDelete()">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Click to Delete"></span>
                  </button>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let meeting of meetingList">
                <td>
                   <a href="" routerLink="/meeting" routerLinkActive="active" (click)="edit(meeting.meetingId)" >{{meeting.meetingTitle}}</a>
                </td>
                <td>
                  {{meeting.meetingAgenda}}
                </td>
                <td>
                  {{meeting.meetingAttendees}}
                </td>
                <td>
                  {{meeting.meetingDate}}
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-md addButton" (click)="openActionDiscussionForm(meeting.meetingId)">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" title="Click to Open ActionDiscussion Form"></span>
                  </button>
                  <button *ngIf="!meeting.generatedExcel" type="button" class="btn btn-default btn-lg" (click)="generateExcel(meeting.meetingId)">
                      <span class="glyphicon glyphicon-import" aria-hidden="true" data-toggle="tooltip" title="Click to generate Excelsheet"></span>
                  </button>
                  <button *ngIf="meeting.generatedExcel" type="button" class="btn btn-default btn-lg" (click)="downloadExcel(meeting.meetingTitle)">
                      <span class="glyphicon glyphicon-download-alt" aria-hidden="true" data-toggle="tooltip" title="Click to Download"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-lg" (click)="moreDetails(meeting.meetingId)">
                      <span class="glyphicon glyphicon-open-file" aria-hidden="true" data-toggle="tooltip" title="Click for Details"></span>
                  </button>
                  <input class="deleteCheckbox" type="checkbox" value="{{meeting.meetingId}}">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
