.createButton {
  float: right;
}

footer {
  position: absolute;
  bottom: 0px;
}

.tableForm {
  margin-top: 35px;
}

.meetingList {
  padding: 10px;
  width: 100% !important;
  margin: 0 auto;
  border-radius: 2px;
  overflow: hidden;
}

.meetingListModal {
  width: 100% !important;
  background-color: #F7F7F7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.toDelete {
  float: right;
  font-size: 20px;
}
.btn-lg {
  font-size: 15px;
}
.glyphiconIcon {
  font-size: 15px;
}
input[type="checkbox"]{
transform: scale(2);
margin: 15px 15px;
  float: right;
}
