<!-- <section id="beforeHeader">
  <nav class="navbar navbar-default navbar-static-top links">
    <div class="navbar-default" *ngIf="userDetails.firstName">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="meetingList" (click)="svgCleanUp()">Meetinglist</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="meeting" (click)="svgCleanUp()">Create new meeting</a></li>
        <li *ngIf="userDetails.isAdmin" class="nav-item"><a class="nav-link" routerLink="createUser" (click)="svgCleanUp()">Register User</a></li>
        <li *ngIf="userDetails.isAdmin" class="nav-item"><a class="nav-link" routerLink="quarterMeetings" (click)="svgCleanUp()">Graphical Design</a></li>
      </ul>
    </div>
  </nav>
  <div id="displayDetails" *ngIf="userDetails.firstName">
    <button type="button" class="btn btn-danger btn-sm logoutBtn" (click)="onLogout()">
      <span class="glyphicon glyphicon-off logoutBtnGyl" aria-hidden="true" data-toggle="tooltip" title="Logout"></span>
    </button>
    <div class="menu">
      <span id="usernameDisplay">
        <b>{{dateString}},&nbsp;&nbsp;{{timeString}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome, {{userDetails.firstName}} {{userDetails.lastName}}</b>
      </span>
    </div>
  </div>
</section> -->



<router-outlet></router-outlet>
<footer class="col-lg-10 col-lg-offset-3 text-center" id="footerDisp"><span style="font-family:Tahoma;color:Gray;">&#169; Cybage Software Pvt.Ltd.</span></footer>
