footer {
    width: 100% !important;
  position: absolute;
  bottom: 0px;
  margin: 0px auto;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header {
  height: 70px;
  border: 1px solid black;
}

img {
  height: 68px;
}
