footer{
			border-bottom : 1px solid black;
			border-left : 1px solid black;
			border-right : 1px solid black;
			border-top : 1px solid black;
			text-align: center;
		}
		header{
			height :70px;
			border : 1px solid black;

		}
		img{

			height : 68px;

		}
