.moreDetails {
  width: 100% ;
}
.tableSection {
  margin-top: 40px;
}
.primaryDetails {
  float: left;
  margin: 0px 10px;
}
.secondaryDetails {
  margin-top: 10px;
}
.discussionPoints,.actionPoints {
  width: 50%;
  float: left;
  overflow-y: scroll;
  height: 540px;
}
.links {
  float: left;
}
