<div class="container moreDetails">
  <div class="links">
     <ol class="breadcrumb breadLinks">
       <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
       <li><a routerLink="/meetingList" routerLinkActive="active">Meetinglist</a></li>
       <li class="active">More Details</li>
     </ol>
   </div>
  <div class="tableSection">
    <section class="primaryDetails row">
      <div class="table-responsive">
        <table class="table table-hover table table-striped primaryDetailsTable">
          <thead>
            <tr>
              <th class="col-md-1 meetingId">
                <span>MeetingId</span>
              </th>
              <th class="col-md-2 meeting">
                <span>Meeting</span>
              </th>
              <th class="col-md-2 purpose">
                <span>Purpose</span>
              </th>
              <th class="col-md-2 agenda">
                <span>Agenda</span>
              </th>
              <th class="col-md-3 attendees">
                <span>Attendees</span>
              </th>
              <th class="col-md-2 date">
                <span>Date</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meeting of moreDetailsList">
              <td>
                {{meeting.meetingId}}
              </td>
              <td>
                {{meeting.meetingTitle}}
              </td>
              <td>
                {{meeting.meetingPurpose}}
              </td>
              <td>
                {{meeting.meetingAgenda}}
              </td>
              <td>
                {{meeting.meetingAttendees}}
              </td>
              <td>
                {{meeting.meetingDate}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="secondaryDetails row">
      <article class="discussionPoints col-md-6">
        <!--Table-->
        <div class="panel panel-primary">
          <div class="panel-heading text-center">Discussion Points</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-md-2 discussionBy">
                      <span>Discussion By</span>
                    </th>
                    <th class="col-md-2 discussionType">
                      <span>Discussion Type</span>
                    </th>
                    <th class="col-md-4 discussion">
                      <span>Discussion</span>
                    </th>
                    <th class="col-md-2 decisionBy">
                      <span>Decision By</span>
                    </th>
                    <th class="col-md-2 decision">
                      <span>Decision</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let meeting of moreDetailsPointsList">
                    <td>
                      {{meeting.discussionBy}}
                    </td>
                    <td>
                      {{meeting.discussionType}}
                    </td>
                    <td>
                      {{meeting.discussion}}
                    </td>
                    <td>
                      {{meeting.decisionBy}}
                    </td>
                    <td>
                      {{meeting.decision}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
      <article class="actionPoints col-md-6">
        <!--Table-->
        <div class="panel panel-primary">
          <div class="panel-heading text-center">Action Points</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-md-4 actionDesc">
                      <span>Action Description</span>
                    </th>
                    <th class="col-md-1 responsible">
                      <span>Responsible</span>
                    </th>
                    <th class="col-md-2 open">
                      <span>Open Since</span>
                    </th>
                    <th class="col-md-2 expected">
                      <span>Expected Completion</span>
                    </th>
                    <th class="col-md-2 actual">
                      <span>Actual Completion</span>
                    </th>
                    <th class="col-md-1 statusAction">
                      <span>Status</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let meeting of moreDetailsActionList">
                    <td>
                      {{meeting.actionDesc}}
                    </td>
                    <td>
                      {{meeting.responsible}}
                    </td>
                    <td>
                      {{meeting.openSince}}
                    </td>
                    <td>
                      {{meeting.expectedCompletion}}
                    </td>
                    <td>
                      {{meeting.actualCompletion}}
                    </td>
                    <td>
                      {{meeting.status}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
<router-outlet></router-outlet>
