.container {
  height: 673px;
}
.moreDetails {
  width: 100% ;
}
.primaryDetails {
  float: left;
  margin: 0px 10px;
}
.secondaryDetails {
  margin-top: 10px;
}
table {
  table-layout: fixed;
  width: 100%;
  /*text-align: center;*/
}
table th{
  width: 15%;
}
table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.discussionType, .discussionBy, .discussion, .decisionBy, .decision  {
  width: 20%;
}
.agenda,.attendees {
  width: 30%;
}
.actionDesc {
  width: 20%;
}
.responsible {
  width: 20%;
}
.open {
  width: 10%;
}
.expected {
  width: 20%;
}
.actual {
  width: 20%;
}
.statusAction {
  width: 10%;
}
table td:hover {
  overflow: visible;
  white-space: normal;
  word-break: keep-all;
}
.centreTh {
  text-align: center;
}
