.moreDetails {
  width: 100% ;
}
.primaryDetails {
  float: left;
  margin: 0px 10px;
}
.secondaryDetails {
  margin-top: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  //text-align: center;
}
table th{
  width: 15%;
}

table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

table td:hover {
  overflow: visible;
  white-space: normal;
  word-break: keep-all;
}

.centreTh {
  text-align: center;
}
