.axis .domain {
  display: none;
}

/*.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}

:host /deep/ svg {
    width: 100%;
    height: 100%;
    position: center;
}

:host /deep/ text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:host /deep/.tool-tip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

:host /deep/.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
}

:host /deep/ rect {
    stroke-width: 2;
}

:host /deep/ text {
  font: 10px sans-serif;
}

:host /deep/ .axis text {
  font: 10px sans-serif;
}

:host /deep/ .axis path{
  fill: none;
  stroke: #000;
}

:host /deep/.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

:host /deep/.axis .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

:host /deep/.axisHorizontal path{
  fill: none;
}

:host /deep/.axisHorizontal line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

:host /deep/.axisHorizontal .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

:host /deep/.bar {
  fill: steelblue;
  fill-opacity: .9;
}

:host /deep/.x.axis path {
  display: none;
}*/
